<top-nav></top-nav>
<div class="container-fluid container-block pt-3 pr-3 pl-3 pb-3">
    <h3 class="text-center mb-4">Our Story</h3>
    <p class="lead">
        It was regular thursday Tom and I were in a dive bar deciding on which is the best NY brewery, after about 5 minutes of going back and forth we were at a point where we started taking opinions from random people in that bar. As time went by we took our phones out to ask other people opinions whom we have never met. So we went on couple websites to ask questions and hell broke loose.
        What we saw was mind boggling..These websites were asking these people to spend their hard earned money for asking simple questions..
        We thought how hard could it be to come up with an application which is completely free to use for people who have genuine questions?
        On that evening in a dive bar Pollbag was born.
        Our mission is to arm people with superpowers of Pollbag so that you can ask questions to which you want unbaised opinions.
        And today, a year later we are here handing you the superpower in a form of simple and sophisticated application to ask as well as answer questions.
        Hope you enjoy it and get answers to whatever questions you have...
        We owe a huge thanks to our community for joining us on this awesome journey, and we hope that you’ll continue to be a part of our story.
    </p>
</div>
<div class="container-fluid alternate-block-color center-div">
  <div class="pt-5">
    <h2  class="text-center">Team</h2>
  </div>

    <div class="row justify-content-center mt-5">
        <div class="card mr-5" style="width: 25rem;">
          <div class="text-center">
            <img class="rounded-circle" src="./assets/images/rohit.jpg" alt="Card image cap" style="height:200px; width: 200px;">
          </div>
            <div class="card-block">
              <div class="text-center">
                <blockquote>
                  <h4 class="card-title text-danger">
                    Rohit Dhumal
                  </h4>
                  <footer class="text-danger">Co founder</footer>
                </blockquote>
              </div>

                <p class="card-text text-muted">
                  Rohit is responsible for Pollbags underlying technology.
                  His focus &amp; passion is on backend architecture / infrastructure and web frontend.
                </p>
            </div>
        </div>
        <div class="card ml-5" style="width: 25rem;">
          <div class="text-center">
            <img class="rounded-circle" src="./assets/images/tommy.png" alt="Card image cap" style="height:200px; width: 200px;">
          </div>
            <div class="card-block">
              <div class="text-center">
                <blockquote>
                  <h4 class="card-title text-danger">
                    Tom Forzaglia
                  </h4>
                  <footer class="text-danger">Co founder</footer>
                </blockquote>
              </div>
                <p class="card-text text-muted">
                  Tom is responsible for all of Pollbags mobile application design &amp; development.
                  He focuses mainly on iOS architecture and development.
                </p>
            </div>
        </div>
    </div>
</div>
