<top-nav></top-nav>
<div class="container-fluid container-block" >

    <div class="col-md-4 mt-5" *ngFor = "let question of votedPolls.questions; let i = index">

      <div class="card card-layout mt-5">

        <div class="text-center">
          <img class="rounded-circle" src="./assets/images/asked.jpg" alt="Card image cap" style="height:150px; width: 150px; margin-top:-4rem;">
        </div>

        <div class="card-block">
          <h4 class="card-title">
            {{question.pollQuestion}}
          </h4>

          <div class="progress-bar-div" *ngFor = "let option of question.options">
            <div class="">
                {{option.optionValue}}
            </div>
            <ngb-progressbar type="success" [value]=calculatePercentage(option.voteCount,question.totalVotes)>{{calculatePercentage(option.voteCount,question.totalVotes)}}%</ngb-progressbar>
          </div>
        </div>

      </div>

    </div>

</div>
