/* You can add global styles to this file, and also import other style files */
body {
  background-color: #eee;
}

.container-block{
  background-color: #eee;
  margin-bottom: 0px;
}


.card-layout{
  box-shadow: 15px 15px 10px grey;
  border-radius: 25px
}

.progress-bar {
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.progress-bar-div{
  margin-top: 1rem;
}

.card{
  margin: 2%;
}
