.contactus-card{
  margin-left: 35%;
  margin-right: 35%;
  margin-top:1%;

}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.container-block{
  height:300px;
  background-color: #eee;
  margin-top: 80px;
  margin-bottom: 0px;

}
