<top-nav></top-nav>
<div class="container-fluid align-center" >


<div class="row justify-content-center">


    <div class="col-md-6 mt-5 pt-3 align-self-center">



      <div class="card card-layout mt-5">

        <div class="text-center">
          <img class="rounded-circle" src="./assets/images/asked.jpg" alt="Card image cap" style="height:150px; width: 150px; margin-top:-4rem;">
        </div>

        <div class="card-block">
         <div class="">
           <div class="form-group">
             Username:
             <input type="text" class="form-control" id="username" name="username" value="{{pollUser.username}}" readonly="readonly">
           </div>
         </div>
         <div class="">
           <div class="form-group">
             Gender:
             <input type="text" class="form-control" id="username" name="username" value="{{pollUser.gender}}" >
           </div>
         </div>

         <div class="">
            Email:
           <div class="input-group pb-3">
            <input type="text" class="form-control" id="email" name="email" value="{{pollUser.email}}">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Edit</button>
            </span>
          </div>
        </div>

         <div class="">
           <div class="form-group">
             Contact Number:
             <input type="text" class="form-control"  id="username" name="username" value="{{pollUser.contactNumber}}" >
           </div>
         </div>
         <div class="">
           <div class="form-group">
             Questions Asked:
             <input type="text" class="form-control"  id="username" name="username" value="{{pollUser.questionsAsked}}" >
           </div>
         </div>
         <div class="">
           <div class="form-group">
             Questions Voted:
             <input type="text" class="form-control"  id="username" name="username" value="{{pollUser.questionsAnswered}}" >
           </div>
         </div>

        </div>
      </div>

    </div>
</div>
</div>
