<top-nav></top-nav>

<div class="container-fluid container-block" (window:scroll)="onScroll($event)">

    <div class="col-md-4" *ngFor = "let question of pollQuestions.questions; let i = index">

      <div class="card card-layout" style="background-color:#c6cbd1">

        <div class="card-block">
          <h4 class="card-title">
            Question #{{i+1}}
          </h4>
          <p class="card-text">
            {{question.pollQuestion}}
            Total Vote: {{question.totalVotes}}
          </p>

          <div class="" *ngFor = "let option of question.options">
            <div class="" (click) = "vote(option.optionId, question.questionId)">
            {{option.optionValue}}
            Option Count: {{option.voteCount}}
            </div>
          </div>
        </div>

      </div>

    </div>

</div>
