.container-block{

  background-color: #eee;
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-around;
}

.card{
  margin: 2%;
}

.a-color{
  color: #fff !important;
}

.progress-bar-div{
  margin-top: 1rem;
}
