<top-nav></top-nav>
<div class="jumbotron">


<div class="card">
  <div class="card-block login-card">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" ngModel id="username" name="username" placeholder="Username" required >
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" ngModel id="password" name="password" placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-primary" [disabled] = !loginForm.valid>Login</button>

    </form>
  </div>
</div>

<div class="bg-info clearfix">
  <button class="btn btn-secondary float-left">Example Button floated left</button>
  <button class="btn btn-secondary float-right">Example Button floated right</button>
</div>

</div>
