<top-nav></top-nav>
<div class="jumbotron text-center main-header">
  <h1>Create simple polls</h1>
  <p>Let the world answer your questions</p>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Create your first poll in less than a mintue</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
    </div>

    <div class="col-sm-3 text-center">
      <button type="button" class="btn btn-primary" (click)="loadLogIn()">Sign In</button>
    </div>

    <div class="col-sm-3 text-center">
      <button type="button" class="btn btn-primary" (click)="loadSignUp()">Sign Up</button>
    </div>

    <div class="col-sm-3">
    </div>

  </div>

</div>

<div class="row">


<div class="container">
  <div class="row use-cases">
    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
  <img class="card-img-top img-rounded use-cases-img" src="https://d20idoa067r6h3.cloudfront.net/assets/img-text/business-727aac0271f9cf6907dac4fe6c14a97b.jpg">
  <div class="card-block">
    <h4 class="card-title">Business</h4>
    <p class="card-text card-content-text">Every department meeting, all-hands, and town hall is an opportunity to engage employees and increase productivity.</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
</div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
  <img class="card-img-top img-rounded use-cases-img" src="https://d20idoa067r6h3.cloudfront.net/assets/img-text/business-727aac0271f9cf6907dac4fe6c14a97b.jpg">
  <div class="card-block">
    <h4 class="card-title">Education</h4>
    <p class="card-text card-content-text">Our clicker-free classroom response system improves learning outcomes, and fills the diverse needs of educators and students around the world.</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
</div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
      <img class="card-img-top img-rounded use-cases-img" src="https://d20idoa067r6h3.cloudfront.net/assets/img-text/business-727aac0271f9cf6907dac4fe6c14a97b.jpg">
      <div class="card-block">
      <h4 class="card-title">Events</h4>
      <p class="card-text card-content-text">Polling activities deliver big impact through meaningful audience interaction and engagement, while easing the burden of post-event feedback surveys.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
      </div>
      </div>
    </div>
  </div>

</div>
<div class="container ">
  <div class="row home-footer">
    <h4 class="text-center">Poll Everywhere powers interactive meetings, events, and classes around the world</h4>
  </div>
</div>


</div>
