<top-nav></top-nav>
<div class="container-fluid container-block center-div">
    <div class="row justify-content-center">
        <h2> Create your first poll in less than an mintue </h2>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="">
            <button type="button" class="btn btn-primary mr-4" (click)="loadLogIn()">Sign In</button>
        </div>
        <div class="">
            <button type="button" class="btn btn-primary ml-4" (click)="loadSignUp()">Sign Up</button>
        </div>
    </div>
</div>
<div class="container-fluid alternate-block-color">
    <div class="row use-cases">
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top img-rounded use-cases-img" src="https://d20idoa067r6h3.cloudfront.net/assets/img-text/business-727aac0271f9cf6907dac4fe6c14a97b.jpg">
                <div class="card-block">
                    <h4 class="card-title text-color">Business</h4>
                    <p class="card-text card-content-text text-color">Every department meeting, all-hands, and town hall is an opportunity to engage employees and increase productivity.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top img-rounded use-cases-img" src="https://d20idoa067r6h3.cloudfront.net/assets/img-text/business-727aac0271f9cf6907dac4fe6c14a97b.jpg">
                <div class="card-block">
                    <h4 class="card-title text-color">Education</h4>
                    <p class="card-text card-content-text text-color">Our clicker-free classroom response system improves learning outcomes, and fills the diverse needs of educators and students around the world.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top img-rounded use-cases-img" src="https://d20idoa067r6h3.cloudfront.net/assets/img-text/business-727aac0271f9cf6907dac4fe6c14a97b.jpg">
                <div class="card-block">
                    <h4 class="card-title text-color">Events</h4>
                    <p class="card-text card-content-text text-color">Polling activities deliver big impact through meaningful audience interaction and engagement...</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-block center-div">
    <div class="row justify-content-center">
        <h4>Poll Everywhere powers interactive meetings, events, and classes around the world</h4>
    </div>
</div>
