<top-nav></top-nav>
<div class="container-fluid container-block center-div" style="background-color: #18BC9C;">
   <div class="row justify-content-center">
      <h1>A crowdsourcing platform to answer your questions.</h1>
   </div>
   <div class="row justify-content-center mt-5">
      <h3>Create online polls to get instant opinions.</h3>
   </div>
   <!-- <div class="row justify-content-center mt-5">
      <div class="">
         <button type="button" class="btn btn-primary mr-4" (click)="loadLogIn()">Sign In</button>
      </div>
      <div class="">
         <button type="button" class="btn btn-primary ml-4" (click)="loadSignUp()">Sign Up</button>
      </div>
   </div> -->
</div>

<div class="row justify-content-center mt-4">
   <div class="col text-center">
      <h2 style="font-weight: bold; color:#005f60;">Our Services</h2>
   </div>
</div>
<div class="row justify-content-center mt-4 pt-4 mb-4 pb-4">
   <div class="col-6">
     <div class="">
       <h4 style="font-weight: bold;">Online Polls</h4>
     </div>

      <a style=" font-size: 18px !important; color:#606664;">Create online polls with multiple options. It would not be a survey without it !!</a>
   </div>
</div>
<div class="row justify-content-center mt-4 pt-4 mb-4 pb-4">
   <div class="col-6">
     <div class="">
       <h4 style="font-weight: bold;">Analytics</h4>
     </div>
      <a style=" font-size: 18px !important; color:#606664;">Use our robust analytics to make data-driven decisions easy.</a>
   </div>
</div>
<div class="row justify-content-center mt-4 pt-4 mb-4 pb-4">
   <div class="col-6">
     <div class="">
       <h4 style="font-weight: bold;">Free</h4>
     </div>
      <a style=" font-size: 18px !important; color:#606664;">No limits on number of questions you post or opinions you give.</a>
   </div>
</div>
<div class="row justify-content-center">
  <div class="col-8">
    <hr style="height:1px;border:none;color:#333;background-color:#333;">
  </div>
</div>

<div class="row justify-content-center">
   <div class="col text-center">
     <h2 style="font-weight: bold; color:#005f60;">Coming Soon</h2>

   </div>
</div>
<div class="row justify-content-center mt-4 pt-4 mb-4 pb-4">
   <div class="col-6">
     <div class="">
       <h4 style="font-weight: bold;">Create Events</h4>
     </div>
      <a style=" font-size: 18px !important; color:#606664;">Create your own events and get live opinions whether it's within the organization or a private event.</a>
   </div>
</div>
<div class="row justify-content-center mt-4 pt-4 mb-4 pb-4">
   <div class="col-6">
     <div class="">
       <h4 style="font-weight: bold;">Image Polls</h4>
     </div>
      <a style=" font-size: 18px !important; color:#606664;">Add images to create online polls.</a>
   </div>
</div>
<bottom-nav></bottom-nav>
