<nav class="navbar navbar-toggleable-md navbar-light top-navbar">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" routerLink="/">
    <i class="fa fa-shopping-bag">
    </i>
    Poll Bag
  </a>
  <div class="collapse navbar-collapse navbar-align-left">
    <ul class="navbar-nav navbar-right">

      <li class="nav-item" routerLinkActive="active"
      [routerLinkActiveOptions]= "{exact:true}">
        <a class="nav-link " routerLink="/">
          <i class="fa fa-home">
          </i>
          Home
        </a>
      </li>
      <li *ngIf ="isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/login">
          <i class="fa fa-sign-in">
          </i>
           Sign In
         </a>
      </li>
      <li  *ngIf ="isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/signup">
          <i class="fa fa-rocket">
          </i>
           Sign Up
         </a>
      </li>

      <li  *ngIf ="!isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/poll">
          <i class="fa fa-th-list">
          </i>
           Polls
         </a>
      </li>
      <li  *ngIf ="!isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/create">
          <i class="fa fa-pencil">
          </i>
           Create Poll
         </a>
      </li>
      <li  *ngIf ="!isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/asked">
          <i class="fa fa-envelope">
          </i>
           Asked
         </a>
      </li>
      <li  *ngIf ="!isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/voted">
          <i class="fa fa-check-square-o">
          </i>
           Voted
         </a>
      </li>

      <!-- <li  *ngIf ="!isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/voted">
          <i class="fa fa-user">
          </i>
           Profile
         </a>
      </li> -->
      <li  *ngIf ="!isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/signout">
          <i class="fa fa-sign-out">
          </i>
           Sign Out
         </a>
      </li>
      <li  *ngIf ="isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contact">
          <i class="fa fa-phone">
          </i>
            Contact Us
          </a>
      </li>
      <li  *ngIf ="isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/about">
          <i class="fa fa-info">
          </i>
           About Us
         </a>
      </li>
    </ul>
  </div>
</nav>
